@charset "UTF-8";

/*
 * @description: index 页面样式支持
 * @Author: duQings duqings@foxmail.com
 * @Date: 2021年1月27日19:39:24
 * @FilePath: assets\css\scssWarehouse\index.scss
 */

/* S Common
***********************************/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'kaiti', Arial, Helvetica, sans-serif;
}

#app {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
}

section {
  display: inline-block;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
}

/* 幕布 */
.bg {
  z-index: -1;
  position: relative;
  opacity: 1;
}

/* 白色幕布 */
.bg-light {
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

/* 黑色幕布 */
.bg-dark {
  background-color: rgba(54, 59, 64, 1);
}

/* S 动物选择样式
***********************************/
.follow-friend,
//* 已选伴友
.icon-choose-body {
  //* 伴友选择
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0;

  h1 {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: .32rem;
  }

  .icon-block-chick,
  .icon-block {
    width: 1rem;
    text-align: center;
    margin: 0 .15rem;

    .icon {
      width: 100%;
      height: 100px;
      margin-bottom: .5rem;
    }

    svg {
      width: 100%;
      height: 100%;
      overflow: visible;
    }
  }
}

.icon-choose-btn {
  color: #fff;
  font-size: .16rem;
  font-family: 'kaiti', Arial, Helvetica, sans-serif;
  background-color: #2b2d2f;
  border: 0px;
  height: .4rem;
  width: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: .04rem;
  display: inherit;
  transition: all ease-in-out .3s;
  line-height: .4rem;
  outline: none;
}

//* 欢迎词
.welcome {
  position: absolute;
  bottom: 1rem;
  left: .5rem;
  opacity: 0;

  h1 {
    font-size: .3rem;
  }

  h3 {
    font-size: .16rem;
  }
}

//* 第二部分 加班时间
.stay-up-late-box, //* 第二部分
.overtime-box { //* 第一部分
  position: absolute;
  bottom: .5rem;
  opacity: 0;
  margin-left: 38%;
}

//* 加班第二段话
.stay-up-late-box {

  .stay-up-late {
    
  }

  .stay-up-late-box-0 {

  }

  .stay-up-late-box-1 {

  }

  .stay-up-late-box-2 {

  }
}

//* / 动物选择样式

//* 点击按钮水波纹
.ani-ripple {
  .ripple {
    position: absolute;
    background: rgba(255, 255, 255, .5);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
  }

  .ripple.show {
    -webkit-animation: ripple .45s ease-out;
    -moz-animation: ripple .45s ease-out;
    animation: ripple .45s ease-out;
  }
}

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@-moz-keyframes ripple {
  to {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

//* /点击水波纹效果

.follow-friend {
  position: absolute;
  left: -3rem;
  z-index: 19981125;

  .icon-choose-btn {
    display: none;
  }
}

//* /已选伴友

/* E Common
***********************************/

.part_0 {
  font-size: .22rem;
  color: #fff;
}


/* S 顺序模块
***********************************/

//* project num
.reveal-vert {
  position: absolute;
  right: 0;
  bottom: -6rem;
}

//* bird
.icon-bird {
  position: absolute;
  right: -3rem;
  bottom: 6rem;
  width: 2rem;
  z-index: 19981125;

  .icon-brid-body {
    width: 3rem;
    transform: scale(0.2) rotateY(180deg);
  }
}

//* 语言支持
.language {
  position: absolute;
  top: -25rem;
}


/* E 顺序模块
***********************************/

//* 扩展 - 太阳
.extend-sun {
  position: absolute;
  top: 20rem;
  right: 0;
  transform: rotateY(180deg);
  width: 2rem;
  opacity: 0;

  .extend-sun-body {
    overflow: visible;
  }

  //* 先隐藏太阳的五官
  .sun-cheek-red,
  .extend-sun-mouth, 
  .extend-sun-eye {
    opacity: 0;
  }

}

//* 扩展 - 月亮
.extend-moon {
  position: absolute;
  top: 20rem;
  left: 0;
  width: 2rem;
  opacity: 1;
  .extend-moon-body {
    overflow: visible;
  }

  .extend-moon-zzz {
    opacity: 0;
  }
}