@charset "UTF-8";

/* S Common
***********************************/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'kaiti', Arial, Helvetica, sans-serif;
}

#app {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
}

section {
  display: inline-block;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  // background-image: linear-gradient(-180deg, #f8d6ce8f, #ffbfaf91);
  // background-image: linear-gradient(-180deg,#f8d6ce,#ffbfaf);
  background-color: rgba(54, 59, 64, 1);
}

/* S 动物选择样式
***********************************/
.follow-friend, //* 已选伴友
.icon-choose-body { //* 伴友选择
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  h1 {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: .32rem;
  }

  .icon-block {
    width: 1rem;
    text-align: center;
    margin: 0 .15rem;

    .icon {
      width: 100%;
      height: 100px;
      margin-bottom: .5rem;
    }

    svg {
      width: 100%;
      height: 100%;
      overflow: visible;
    }
  }
}

.icon-choose-btn {
  color: #fff;
  font-size: .16rem;
  font-family: 'kaiti', Arial, Helvetica, sans-serif;
  background-color: #2b2d2f;
  border: 0px;
  height: .4rem;
  width: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: .04rem;
  // position: absolute;
  // bottom: -.4rem;
  // margin-top: -.5rem;
  display: inherit;
  transition: all ease-in-out .3s;
  line-height: .4rem;
  outline: none;

  /* &:hover {
    color: #2b2d2f;
    background-color: #fff;
    border-radius: .08rem;
  } */
}

.welcome {
  position: absolute;
  bottom: 1rem;
  left: .5rem;
  opacity: 0;

  h1 {
    font-size: .3rem;
  }

  h3 {
    font-size: .16rem;
  }
}

//* / 动物选择样式

.ani-ripple {
  .ripple {
    position: absolute;
    background: rgba(255, 255, 255, .5);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
  }
  
  .ripple.show {
    -webkit-animation: ripple .45s ease-out;
    -moz-animation: ripple .45s ease-out;
    animation: ripple .45s ease-out;
  }
}

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@-moz-keyframes ripple {
  to {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

//* /点击水波纹效果

.follow-friend {
  position: absolute;

  .icon-choose-btn {
    display: none;
  }
}
//* /已选伴友

/* E Common
***********************************/

.part_0 {
  font-size: .22rem;
  color: #fff;

  .welcome_0 {}
}

.part_1 {

}
