@charset "UTF-8";
/*
 * @description: 部门年总结页面样式支持
 * @Author: duQings duqings@foxmail.com
 * @Date: 2021年1月28日10:45:34
 * @FilePath: assets/css/depSummary.css
 */
/* S Common
***********************************/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'kaiti', Arial, Helvetica, sans-serif;
  position: relative;
}

#app {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(/public/img/depSummaryBg.jpg);
}

/* section {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  // background-image: linear-gradient(-180deg, #f8d6ce8f, #ffbfaf91);
  // background-image: linear-gradient(-180deg,#f8d6ce,#ffbfaf);
  // background-color: rgba(54, 59, 64, 1);
  background-image: url(/public/img/depSummaryBg.jpg);
} */
/* E Common
***********************************/
/* S 篝火
***********************************/
.part_extend_fire {
  position: absolute;
  top: 0;
  z-index: 2;
}

.cf-container {
  box-sizing: content-box;
  width: 3rem;
  height: 3rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cf-container .cf-flame-container {
  width: 1rem;
  height: 1rem;
  bottom: 0;
  position: absolute;
  opacity: 0;
}

.cf-container .cf-log-container {
  width: 60%;
  height: 1rem;
  position: absolute;
  bottom: 0;
  left: .5rem;
  opacity: 0;
}

.cf-container .cf-flame-container#base-fire .cf-flame:nth-child(1) {
  background-color: #c63509;
  opacity: .95;
}

.cf-container .cf-flame-container#base-fire .cf-flame:nth-child(2) {
  background-color: #cd4015;
  width: 1rem;
  height: 1rem;
  opacity: .85;
  left: .75rem;
}

.cf-container .cf-flame-container#base-fire .cf-flame:nth-child(3) {
  background-color: #d73e0f;
  width: .6rem;
  height: .6rem;
  opacity: .85;
  left: 1.3rem;
}

.cf-container .cf-flame-container:nth-child(2) {
  width: 1.5rem;
  height: 1.5rem;
  bottom: 0;
  position: absolute;
}

.cf-container .cf-flame-container:nth-child(2) .cf-flame {
  width: .75rem;
  height: .75rem;
  left: .75rem;
}

.cf-log {
  background-color: #723830;
  width: .2rem;
  height: .3rem;
  transform-origin: center;
  position: absolute;
  bottom: 0;
  border-radius: .5em;
  box-shadow: 0 0.03rem 0.1rem #372113;
  width: 100%;
}

.cf-log:nth-child(1) {
  transform: rotate(15deg);
}

.cf-log:nth-child(2) {
  transform: rotate(-15deg);
}

.cf-flame:nth-child(1) {
  background-color: #f5ed8f;
}

.cf-flame:nth-child(2) {
  background-color: #fde239;
}

.cf-flame:nth-child(3) {
  background-color: #ffdc01;
}

.cf-flame:nth-child(4) {
  background-color: #fdac01;
}

.cf-flame:nth-child(5) {
  background-color: #d73e0f;
}

.cf-flame:nth-child(6) {
  background-color: #cd4015;
}

.cf-flame:nth-child(7) {
  background-color: #c63509;
}

.cf-flame:last-child {
  background-color: #c63509;
}

.cf-flame {
  background-color: #cd4015;
  width: 1rem;
  height: 1rem;
  border-radius: 1em;
  position: absolute;
  bottom: 0;
  left: 1rem;
}

#fireNodes2 .cf-flame {
  animation: flameColor 1.5s ease-out infinite;
}

@keyframes flameColor {
  0% {
    background-color: #c63509;
  }
  20% {
    background-color: #cd4015;
  }
  30% {
    background-color: #fdac01;
  }
  50% {
    background-color: #ffb401;
  }
  60% {
    background-color: #fdac01;
  }
  70% {
    background-color: #ffdc01;
  }
  80% {
    background-color: #fde239;
  }
  100% {
    background-color: #f5ed8f;
  }
}

/* E 篝火
***********************************/
/* S 第一部分
***********************************/
section.part_0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 1.5rem;
}

section.part_0 .black-bg {
  width: 100%;
  height: 100%;
  background-color: #363b40;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

section.part_0 span {
  display: inline-block;
  height: fit-content;
  opacity: 0;
  z-index: 2;
}

section.part_0 h2 {
  height: fit-content;
  display: inline-block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  text-align: center;
  color: inherit;
  text-shadow: 0 0 0.05rem rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  font-family: 'kaiti', Arial, Helvetica, sans-serif;
  margin: 0 .5rem;
  opacity: 0;
  transition: all ease-in-out .2s;
  z-index: 2;
}

/* E 第一部分
***********************************/
/* S 第二部分
***********************************/
section.part_1 {
  /*.table-content {
    position: absolute;
    bottom: .05rem;
    left: .5rem;
    // background-color: rgba(244,244,244, 1);
    background-color: rgba(54, 59, 64, 1);
    padding: .1rem;
    border-radius: .04rem;
    box-shadow: 0 0 0.05rem 0.08rem rgba(255,255,255,0.12);
    overflow: auto;
  }

  //* 项目表格
   .part_tables {
    font-size: .26rem;

    tr {

      th,
      td {
        text-align: center;
        padding: 0 .15rem;
        color: #fff;
        border-left: .01rem solid #e6e6e6;
        border-bottom: .01rem solid #e6e6e6;
      }

      th {
        border-top: .01rem solid #e6e6e6;
      }

      th:last-child,
      td:last-child {
        border-right: .01rem solid #e6e6e6;
      }

    }

    //* 第一行圆角
    tr:first-child {

      th:first-child {
        border-top-left-radius: .04rem;
      }

      th:last-child {
        border-top-right-radius: .04rem;
      }
    }

    //* 最后一行圆角
    tr:last-child {

      td:first-child {
        border-bottom-left-radius: .04rem;
      }

      td:last-child {
        border-bottom-right-radius: .04rem;
      }
    }

  } 

  //* 表格滚动条
  .table-content::-webkit-scrollbar {
    width: .08rem;
    height: .08rem;
  }
  
  .table-content::-webkit-scrollbar-button:vertical {
    display: none;
  }
  
  .table-content::-webkit-scrollbar-track,
  .table-content::-webkit-scrollbar-corner {
    background-color: rgba(14, 148, 234, 0.2);
  }
  
  .table-content::-webkit-scrollbar-thumb {
    background-color: #3e4042;
    border-radius: .1rem;
    border: .01rem solid #868686;
  }
  
  .table-content::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, .35);
  }
  
  .table-content::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, .38);
  }*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* .echarts-section:nth-child(2n) {
    right: -8rem;
  } */
}

section.part_1 .echarts-section {
  margin-top: .6rem;
  border-radius: .04rem;
  background-color: #2e3440;
  box-shadow: 0 0 .5rem .01rem #000;
  position: absolute;
}

section.part_1 .echarts-section .echarts-item {
  width: 98%;
  height: 100%;
  margin: 0 auto;
}

section.part_1 .zIndex2 {
  z-index: 2;
}

section.part_1 .zIndex1 {
  z-index: 1;
}

.echarts-item {
  width: 98%;
  height: 100%;
  margin: 0 auto;
}

.echarts-tools {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 .36rem;
  opacity: 0;
  transition: opacity ease-in-out .3s;
}

.echarts-tools:hover {
  opacity: 1;
}

.echarts-tools .iconfont {
  display: inline-block;
  font-size: .36rem;
  color: #ffffffa6;
  cursor: pointer;
  padding: .1rem;
  border-radius: 50%;
  transition: all ease-in-out .3s;
}

.echarts-tools .iconfont:hover {
  color: #ffffff;
}

@keyframes moved {
  to {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}

/* E 第二部分
***********************************/
